<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/d54a006847.js" crossorigin="anonymous"></script>
  <title>Friend Finder | Home</title>
</head>

<body>
  <div class="container">
    <header>
      {{{ body }}}
    </header>
    <footer>
      api | github
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      console.log('jquery loaded.');
      //const scoreArray = [];
      const scoreArray = new Array(10);

      $("#survey-form").on("submit", function() {
        event.preventDefault();

        if(scoreArray.length === 0) {
          for(let i = 1; i <= 10; i++) {
            // get just the number like 1. out of string 1 (strongly disagree)
            let newScore = $(`#key-q${i}`).val().charAt(0);

            scoreArray.push( parseInt(newScore) );
          }

        }

        let friendToPost = {
          name: $("#friendName").val().trim(),
          photo: $("#friendImg").val().trim(),
          scores: scoreArray
        };

        // Send the POST request.
        $.ajax("/api/friends", {
          type: "POST",
          data: friendToPost
        }).then(
          function(req, res) {
            console.log(res);
            console.log('yay the post thing just happened!');
            
            location.reload();
          }
        );


      });


    });

  </script>
</body>

</html>