<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/d54a006847.js" crossorigin="anonymous"></script>
  <title>Survey Time</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="jumbotron">
        <h2>Survey</h2>
        <!-- survey  -->
        <form>
          <div class="form-group">
            <label for="friendName">Name</label>
            <input type="text" class="form-control" id="friendName" placeholder="Barley Lightfoot">
          </div>
          <!-- list of questions -->
          <h4>Question 1</h4>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Your mind is always buzzing with unexplored ideas and plans.</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1 (Strongly Disagree)</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5 (Strongly Agree)</option>
            </select>
          </div>
        </form>

      </div>
    </header>
    <footer>
      api | github
    </footer>
  </div>

</body>
</html>